SyncApp/Service References/SyncService/SqlWebSyncService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SyncWcfService.Fault" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SyncWcfService.Fault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SyncWcfService/Service/SqlWebSyncService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="WebSyncFaultException">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="InnerException" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebSyncFaultException" nillable="true" type="tns:WebSyncFaultException" />
</xs:schema>