SyncApp/Service References/SyncService/SqlWebSyncService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SyncWcfService.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SyncWcfService.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SyncWcfService/Service/SqlWebSyncService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" />
  <xs:complexType name="SyncBatchParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchSize" type="xs:unsignedInt" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="DestinationKnowledge" nillable="true" type="q1:SyncKnowledge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SyncBatchParameters" nillable="true" type="tns:SyncBatchParameters" />
  <xs:complexType name="GetChangesParameters">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="ChangeBatch" nillable="true" type="q2:ChangeBatch" />
      <xs:element minOccurs="0" name="DataRetriever" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetChangesParameters" nillable="true" type="tns:GetChangesParameters" />
</xs:schema>