SyncApp/Service References/SyncService/SqlWebSyncService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SyncWcfService/Service/SqlWebSyncService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" />
  <xs:import schemaLocation="http://localhost/SyncWcfService/Service/SqlWebSyncService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SyncWcfService.Interface" />
  <xs:import schemaLocation="http://localhost/SyncWcfService/Service/SqlWebSyncService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization.Data" />
  <xs:import schemaLocation="http://localhost/SyncWcfService/Service/SqlWebSyncService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Initialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scopeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="position" type="q1:SyncProviderPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKnowledge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKnowledgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SyncWcfService.Interface" minOccurs="0" name="GetKnowledgeResult" nillable="true" type="q2:SyncBatchParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchSize" type="xs:unsignedInt" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="destinationKnowledge" nillable="true" type="q3:SyncKnowledge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SyncWcfService.Interface" minOccurs="0" name="GetChangesResult" nillable="true" type="q4:GetChangesParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="resolutionPolicy" type="q5:ConflictResolutionPolicy" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="sourceChanges" nillable="true" type="q6:ChangeBatch" />
        <xs:element minOccurs="0" name="changeData" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization" minOccurs="0" name="ApplyChangesResult" nillable="true" type="q7:SyncSessionStatistics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasUploadedBatchFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchFileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remotePeerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasUploadedBatchFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasUploadedBatchFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadBatchFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchFileid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="batchFile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="remotePeerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadBatchFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadBatchFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchFileId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadBatchFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadBatchFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Cleanup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateScopeDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization.Data" minOccurs="0" name="scopeDescription" nillable="true" type="q8:DbSyncScopeDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateScopeDescriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScopeDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scopeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serverConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScopeDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Microsoft.Synchronization.Data" minOccurs="0" name="GetScopeDescriptionResult" nillable="true" type="q9:DbSyncScopeDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeedsScope">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scopeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeedsScopeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NeedsScopeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q10:guid" />
        <xs:element minOccurs="0" name="clientConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>